<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nesne.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <nesne.Properties.Settings>
            <setting name="Mail" serializeAs="String">
                <value />
            </setting>
            <setting name="Sifre" serializeAs="String">
                <value />
            </setting>
            <setting name="AvatarPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BeniHatirla" serializeAs="String">
                <value>False</value>
            </setting>
        </nesne.Properties.Settings>
    </userSettings>
</configuration>